@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');



a {text-decoration: none;color: #108DFF;}

.button-three {
  background:  #02075d
}



.btn {
  font-family: 'Poppins';
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 6px;
  background-size: 400% 400%;
  color: #FFF;
  text-transform: capitalize;
  border: 0;
  padding: 13px 30px;
  font-size: 15px;
  animation: shake 10s ease-in-out infinite;
  width: 100%;
}


@keyframes shake {
    1%, 9% {
      transform: translate3d(-1px, -1px, 0);
    }
    2%, 8% {
      transform: translate3d(2px, 2px, 0);
    }
    3%, 5%, 7% {
      transform: translate3d(-4px, -4px, 0);
    }
    4%, 6% {
      transform: translate3d(4px, 4px, 0);
    }
  }


.lockIcon{
    vertical-align: sub
}

