

    <button class="btn button-gradient button-three">
       <span class="lockIcon"> <img src="https://img.icons8.com/windows/32/ffffff/lock.png"  width="16" height="16"/> </span>
        Pay ₹<span id="price"></span>
      </button>


    {% schema %}
      {
        "name": "Hello World",
        "target": "section",
        "stylesheet": "app.css",
        "javascript": "app.js",
        "settings": [
            { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
        ]
      }
    {% endschema %}