
    <a id="price-btn">
        <button class="btn button-gradient button-three" >
             <span class="pay-text">Pay  </span> {{ cart.currency.symbol }}<span id="price"></span>
           </button>
    </a>



    {% schema %}
      {
        "name": "Hello World",
        "target": "section",
        "stylesheet": "app.css",
        "javascript": "app.js",
        "settings": [
            { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
        ]
      }
    {% endschema %}