{% layout none %}
<a id="price-btn">
    <div class="button-gradient button-three" style="background-color: #000000; text-align: center;">
        <span style="color: #ffffff" > 
          <span class="pay-text">Pay  </span> {{ cart.currency.symbol }}<span id="price"></span>
        </span>
    </div>
</a>