{% layout none %}


  <!-- {{ form | payment_button }} -->
  <div style="" id="AAowleCoverDivBuyNowSticky"  >
    <button type="button" id="stickyBuyNowButtonAAowle"   style="background-color: {{ shop.metafields.AAowleBuyNow.buttonColor.value  }};" class=" button-gradient AAowleBuyNowbutton shopify-payment-button__button shopify-payment-button__button--unbranded" data-testid="Checkout-button">
      <span style="color: {{ shop.metafields.AAowleBuyNow.textColor.value  }}" > 
        <span class="pay-text">Pay  </span> {{ cart.currency.symbol }}<span class="AAowlePrice"></span>
      </span>
    </button>
  </div>


